.text-blue {
    color: #243A73
}
.iconColor{
    color: #0F3460;
}

.leftPanel {
    width: 26%;
    height: 100vh;
    /* background-color: #f5c433; */
    background-color: #FAF5E4;
}

.menu-item.clicked {
    background-color:  #FF6363;
    color: #FAF5E4 !important;
    box-shadow: 0 1rem 3rem rgba(black, .175);
    border-radius: 4px;
}

.menu-item.clicked .menu-title {
    color: #FAF5E4 !important;

}
.menu-item.clicked .iconColor{
    color: #4C0033;
}

.menu-item:hover {
    background-color: #FF6363;
    color: #FAF5E4;
    box-shadow: 0 1rem 3rem rgba(black, .175);
    border-radius: 4px;
}

.leftPanel  .menu-content.accordion-header .accordion-button{
    padding: 0.65rem 1rem;
    border-radius: 5px;
    background-color: #FAF5E4;
}
.leftPanel .menu-content.accordion-header .accordion-button:not(.collapsed){
   box-shadow: none !important;
}

.leftPanel  .menu-content.accordion-header {
    padding: 0px;
}
.leftPanel .accordion-body{
    padding: 0px;
}


@media (min-width:375px) {
    .leftPanel {
        width: 23%;
    }
}

@media (min-width:768px) {
    .leftPanel {
        width: 14%;

    }

    .menu-item.clicked {
        background-color: #FF6363;
        color: white;
        /* transform: scale(1.1); */
        box-shadow: 0 1rem 3rem rgba(black, .175);
        /* border-radius: 10px; */
    }

    .menu-item:hover {
        background-color: #FF6363;
        color: white;
        /* transform: scale(1.2); */
        box-shadow: 0 1rem 3rem rgba(black, .175);
        /* border-radius: 10px; */

    }
}


@media (min-width:1024px) {
    .leftPanel {
        width: 20%;

    }
}

@media (min-width:1440px) {
    .leftPanel {
        width: 12%;

    }
}

@media (min-width:1920px) {
    .leftPanel {
        width: 7%;
    }
}